[WWW]

server {
    listen   80;

    server_name [www][URL];

    root /var/www/[DIRECTORY];
    index index.php index.html index.htm;


    [PRETTY_URL]

    #add php 
    include /etc/nginx/global/*.conf;

    ## Logs
    access_log /var/log/nginx/[URL].access.log;
    error_log /var/log/nginx/[URL].error.log;
}